<!DOCTYPE html>
<div>
	<head>
		<title>My first vue app</title>
		<script src="https://unpkg.com/vue"></script>
	</head>
	<body>
		<style>
		table tr th {
			font-size:16pt;
			color: white;
			background-color: blue;
			padding: 5px 15px;
		}
		table tr td {
			font-size: 16pt;
			color: gray;
			border: 1px solid gray;
			padding: 5px 15px;
		}
		</style>
		<h1>Vue.js</h1>
		<div id="app">
			<p>※データをテーブル表示する</p>
			<table>
				<tr>
					<th>ID</th>>
					<th>name</th>
					<th>mail</th>
					<th>tel</th>
				</tr>
				<tr v-for="(item, index) in items" v-if="index % 2 == 0">
					<td>{{index}}</td>
					<td>{{item.name}}</td>
					<td>{{item.mail}}</td>
					<td>{{item.tel}}</td>
				</tr>
				<tr v-else>
					<td>***</td>
					<td>***非公開***</td>
					<td>***非公開***</td>
					<td>***非公開***</td>
				</tr>
			</table>
		</div>

		<script>
		var data = {
			items: [
				{name: 'Taro', mail: 'taro@yamada', tel:'999-999'}, 
				{name: 'Hanako', mail: 'hanako@flower', tel: '888-888'}, 
				{name: 'Sachiko', mail: 'sachiko@happy',  tel: '777-777'}, 
				{name: 'Jiro', mail: 'jiro@change',  tel: '666-666'}, 
				{name: 'Mami', mail: 'mami@mumemo',  tel: '555-555'}
			]
		}
		
		var app = new Vue({
			el: '#app', 
			data: data
		});
		</script>
	</body>
